:root{
    --fundo:#6495ED;
    --cartao-frente:#4169E1;
    --cartao-tras: #4682B4;
    --destaque:#8e2a06fd; 
    --preto: black;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
}