:root{
    --fundo:#6495ED;
    --cartao-frente:#4169E1;
    --cartao-tras: #234867;
    --destaque:#00BFFF; 
    --preto: black;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}